.message-list {
    display: flex;
    flex-flow: column nowrap;
    overflow-y: auto;
    flex: 1 1 auto;
    justify-content: flex-end;
}

.message {
    background-color: whitesmoke;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.36));
    padding: 1em 1.5em;
    border-radius: 3px;
    max-width: 50%;
    min-width: 145px;
    word-break: break-word;
    min-width: 200px;
    display: flex;
    flex-flow: column nowrap;
}

.my-message {
    justify-self: start;
    margin-left: 15px;
}
.message-time{
    color: #a0a0a0;
    margin-top: 5px;
    align-self: flex-end;
}
.my-message::before {
    content: "";
    position: absolute;
    visibility: visible;
    bottom: 0px;
    left: -11px;
    border: 10px solid transparent;
    border-bottom: 10px solid #ccc;
}

.my-message::after {
    content: "";
    position: absolute;
    visibility: visible;
    bottom: 0px;
    left: -10px;
    border: 10px solid transparent;
    border-bottom: 10px solid whitesmoke;
}

.another-message::before {
    content: "";
    position: absolute;
    visibility: visible;
    bottom: 0px;
    right: -11px;
    border: 10px solid transparent;
    border-bottom: 10px solid #ccc;
}

.another-message::after {
    content: "";
    position: absolute;
    visibility: visible;
    bottom: 0px;
    right: -10px;
    border: 10px solid transparent;
    border-bottom: 10px solid whitesmoke;
    clear: both;
}

.another-message {
    justify-self: end;
    margin-right: 15px;
}

.user-logo {
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    display: flex;
    height: 25px;
    width: 25px;
    align-self: flex-end;
    font-weight: bold;
    color: white;
}

.user-logo-my {
    justify-self: start;
}

.user-logo-another {
    justify-self: end;
}

.message-row {
    padding: 0.5em;
    display: flex;
    justify-content: flex-end;
    flex-flow: row nowrap;
    animation: showing 1s;
}

@keyframes showing {
    0% {
        transform: scale(0, 0);
    }
    50% {
        transform: scale(1, 1);
    }
}

.message-row-my {
    align-self: flex-end;
}

.message-row-another {
    flex-direction: row-reverse;
    align-self: flex-start;
}

.chat-container {
    background-color: #d9d9d9;
    background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
    border-left: 1px solid darkgray;
    border-right: 1px solid darkgray;
    display: flex;
    flex-flow: column nowrap;
    height: calc(100vh - 50px);
}

.input-block {
    display: grid;
}

.input-block > textarea {
    display: block;
    resize: none;
    border: 1px solid black;
    min-height: 10px;
    font-size: 16px;
    padding: 1em;
    outline: none;
}
